@{
    ViewBag.Title = "Why giftbird?";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="form-horizontal">
   
    @*<h3>@ViewBag.Message</h3>*@

    @*<p>FAQ's</p>*@

    <h3>At giftbird we connect humans to charities.</h3>
    <br>
    <h4>When you register with giftbird you create a donation registry based on your preferred causes.</h4>
    <h5>&bull;The registry can be shared with family and friends to request donations in lieu of presents.</h5>
    <h5>&bull;Pick and choose from an extensive list of national and local charities.</h5>
    <h5>&bull;Favorites can be modified and updated.</h5>
    <br>
    <br>
