@{
	ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<hr />
<address>
	<h3>Find us at:</h3>
	<br />
	Grand Circus<br />
	40 Pearl St. NW #200<br />
	Grand Rapids, MI 49503<br />
	<abbr title="Phone">P:</abbr>
	616-555-1212
</address>
	www.Grandcircus.co<br />
